#process-bar-holder{
    width: 50%;
    align-self: center;
    align-content: center;
    margin: auto;
    border-color: purple;
    position: relative;
  }
  
  .process-bar-container {
    position: relative;
    align-self: center;
    
    height: 20px;
    width: '100%';
    background-color: red;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .process-bar-filler {
    height: 100%;
    background-color: var(--pure-white);
    border-radius: 'inherit';
    text-align: 'right';
    border-radius: 50px;
  }
  
  .marker-list {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .marker-list .marker {
    top: 0;
    position: absolute;
    width: inherit;
    margin: 0px;
    background-color: blue;
    display: flex;
  }